.container {
  background-color: #72e1f1;
  display: flex;
  align-items: center;

  .wrap {
    width: 40%;
    height: 600px;
    margin: 50px auto;
    background-color: white;
    border-radius: 5%;
    padding: 30px;

    h1 {
      color: #39cd74;
      margin-bottom: 20px;
    }
    input {
      -webkit-appearance: none;
      border-radius: 10px;
      border: 1px solid #DCDFE6;
      box-sizing: border-box;
      color: #606266;
      display: inline-block;
      line-height: 40px;
      outline: 0;
      padding: 0 15px;
      transition: border-color .2s cubic-bezier(.645,.045,.355,1);
      width: 100%;
      margin-bottom: 30px;
      font-size: 14px;
    }
  }
}