.todo-container {
  height: 75%;
  overflow: auto;

  .todo-item {
    border-bottom: 1px solid #DCDFE6;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .todo-info {
      input {
        margin: 30px 10px 30px 0;
        cursor: pointer;
      }
      .delete {
        text-decoration: line-through;
      }
    }
    button {
      float: right;
      background-color: red;
      border: none;
      padding: 10px;
      border-radius: 5px;
      color: white;
      cursor: pointer;
    }
  }

  .todo-null {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
  }
}